/*reset*/
html,body,section,img,h1,h2,h3,h4,h5,h6,p,div,span,a,ul,li{margin: 0;padding: 0;}
a{text-decoration: none;}
em{
	font-style: normal;
	color:#F42F54;
	font-weight: bold;
}
li{list-style: none;}
body{
	width: 100%;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif, "微软雅黑";
	overflow: hidden;
}
img{vertical-align: middle;}
.page{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
	-webkit-animation-play-state: paused;
	animation-play-state:paused;
}
.show{
	display: block;
	-webkit-animation-play-state: running;
	animation-play-state: running;
}
.page-wrap{
	height: 100%;
	position: relative;
}
.p-loading{
	height: 100%;
	text-align: center;
	background-color: #ddd;
}
.p-loading .page-wrap{overflow: hidden;}
.p-loading img{
	width: 150px;
	height: 150px;
	margin-top: 20%;
	border-radius:50%;
}
.p-loading h1{
	font-size: 1em;
	font-weight: normal;
	padding-top: 5%;
}
.author{
	position: absolute;
	width: 100%;
	bottom: 5%;
	font-size: 0.85em;
	color: #555;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
}
.version{
	position: absolute;
	right: 2%;
	top: 2%;
	font-size: 0.75em;
	color: #555;
}

/*index*/
.p-index{}
.p-index h4{
	text-align:center;
	font-size: 1em;
	padding: 8px 0;
}
ul.list li{
	width:100%;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #ccc;
}
ul.list li a{
	color:#434444;
	padding-left: 8px;
	font-size: 0.85em;
}
ul.list li a:after{
	content: '>';
	width: 10px;
	height: 10px;
	display: block;
	float: right;
	margin-right: 10px;
}
/*index end*/
/*back*/
.back-btn{
	width: 90%;
	height: 40px;
	line-height: 40px;
	display: block;
	margin:10px auto;
	border: none;
	background-color: #0000cd;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #000;
	outline: none;
}
/*back end*/
/*content*/
.page h4{
	padding:5% 0 0 5%;
}
.content{
	width: 90%;
	margin: 2% auto;
	padding: 2%;
	border: 1px dotted #000;
	border-radius: 5px;
}
.content p{
	font-size: 0.85em;
	line-height: 1.5em;
	color: #555;
}
p.code{
	background-color: #000;
	color:#9696FF;
}
p.code .gramma{
	color: #dd0;
}
.content img{
	width: 100%;
	display: block;
	margin: auto;
}

.html5{
	width: 100%;
	margin-top: 25%;
}

/*animate*/
.p-animate .animated.content{
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
}
/*animate end*/

/*p-load*/
/*p-load end*/